.container {
  margin-top: 1rem;
  display: flex;
}
.header {
  display: flex;
  height: 70px;
  background-color: #ffffff;
  align-items: center;
}

@media (max-width: 900px) {
  .header {
    height: 120px;
  }
}

@media (max-width: 600px) {
  .header {
    height: 150px;
  }
}
