.task {
    background: #ffffff;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 95%;
    transition: all 0.8s ease-in;
    padding-bottom: 10px;
    &:hover {
        transform: scale(1.05);
    }
    &__edit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__title {
        cursor: grab;
    }
}