.container {
    max-height: 90vh;
    margin-left: 320px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
}
.column {
    min-width: 280px;
    margin: 30px 15px 10px;
    border-radius: 10px;
    background-color: #b8b6b6;
    overflow: hidden;
    padding: 5px 10px 15px;
}